<!DOCTYPE html>
<html lang="en">
  <!-- Importing the Head from Partials/head.ejs -->
  <%- include('./Partials/head.ejs') %>

  <body>
    <!-- Importing the navbar from Partials/nav.ejs -->
    <%- include('./Partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>

      <% if(blogs.length > 0){ %> <% blogs.forEach(blog => { %>
      <h3 class="title"><%= blog.title %></h3>
      <p class="snippet"><%= blog.snippet %></p>
      <% }); %> <% }else{ %>
      <p>There are no blogs to display</p>
      <%}%>
    </div>

    <!-- Importing the footer from Partials/footer.ejs -->
    <%- include('./Partials/footer.ejs') %>
  </body>
</html>
